@import 'utils/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  box-sizing: border-box;

  @media (max-width: 800px) {
    font-size: 12px;
  }

  @media (max-width: 560px), (max-height: 568px) {
    font-size: 10px;

    .quote-box__button {
      &:after {
        content: none;
        padding: none;
      }

      &:hover {
        background: none;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $white;
  background: $grey;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

.quote-box__quote {
  height: 50vh;
}

.quote-box__content {
  font-size: 2rem;

  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}

.quote-box__author {
  padding-bottom: 2rem;
  font-size: 1rem;
  font-style: italic;
}

.quote-box__button {
  width: 33%;
  color: $white;
  background: none;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid $white;
  position: relative;
  padding: 1rem;
  text-align: center;
  transition: transform 0.1s linear;

  &:active {
    box-shadow: inset 0 0.6em 2em -0.3em $grey, inset 0 0 0em 0.05em $grey;
  }

  &:after {
    content: 'Generate quote';
    padding-left: 1rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $dark-grey;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
